# C++ objects and libs
*.slo
*.lo
*.o
*.la
*.lai
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# mbc Project
dbus
doc
lib
release
style
demo
debug/Data
debug/iconengines
debug/imageformats
debug/images
debug/languages
debug/logs
debug/mediaservice
debug/metrostyle
debug/platforms
debug/plugins
debug/pluginwizard
debug/project_template
debug/splash
debug/sqldrivers
debug/style
debug/translations
debug/translator
debug/userlog
debug/userHistory
debug/resources/ZeroCalibrationData
*.exe
*.dll
debug/*.ini
*.db
*.a
*.conf
NetConfig.ini

